.container {
  padding: 32px;
  color: #333;
  border-radius: 12px;
  border: 1px solid whitesmoke;
  box-shadow: 0 0 3px rgba(0,0,0,0.25);
  position: relative;

  h3 {
    margin: 0;
    margin-bottom: 12px;
    font-weight: bold;

    &:hover, &focus {
      font-weight: 800;
    }
  }

  h4 {
    margin: 0;
  }

  button {
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 12px;
    background-color: transparent;
    border: none;

    &:hover, &:focus {
      background-color: lightgreen;
    }
  }

  &:hover, &focus {
    background-color: lightcoral;
  }
}
